<div class="navbar navbar-light navbar-lewagon">
  <div class="container-fluid d-flex flex-nowrap">
    <div class="d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <%= image_tag "coshublogo.png" %>
        <h2 class="m-0 ms-3 text-light">CosHub</h2>
      <% end %>
    </div>
    <div class="d-flex justify-content-end">
      <%= form_with url: cosplays_path, method: :get, class: "search-form d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search cosplays..."
        %>
        <%= select_tag(:price_range, options_for_select(([['¥', nil], ['¥0-2499', '0,2499'], ['¥2500-4999', '2500,4999'], ['¥5000-7499', '5000,7499'], ['¥7500-9999', '7500,9999'], ['¥10000-12499', '10000,12499'], ['¥12500-14999', '12500,14999'], ['¥15000-17499', '15000,17499'], ['¥17500-19999', '17500,19999']]), nil))%>
        <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
          <i class="text-light fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
      <i class="fa-regular fa-bell d-flex align-items-center fs-5 ms-3"></i>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="ms-3" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <button class="bg-light navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDropdown">
                <%= link_to "My Orders",  bookings_path, class: "dropdown-item" %>
                <%= link_to "My Products", vendor_cosplays_path, class: "dropdown-item" %>
                <%= link_to "Requests", vendor_bookings_path, class: "dropdown-item" %>
                <%= link_to "Sell a cosplay", new_cosplay_path, class: "dropdown-item" %>
                <%= link_to "Settings", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </div>
          </li>
        <% else %>
          <li class="nav-item ms-3">
            <%= link_to "Login", new_user_session_path, class: "btn btn-light login-button px-3" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
