<%# <div class="banner">
  <div class="banner-text">
    <h1>CosHub</h1>
    <p>Cosplay delivery, to your door, lightning fast</p>
  </div>
</div> %>
<div class="container">
  <h1 class=" mb-3 mt-5">All our Cosplays:</h1>
  <div class="d-flex justify-content-center">
    <div class="card-container">
      <% if @cosplays.any? %>
        <% @cosplays.each do |cosplay| %>
          <div class="card d-flex justify-content-center">
            <%= link_to cosplay_path(cosplay), class:"card-link" do %>
              <div class="homepage-card" style="background-image: url( <%= cosplay.images.attached? ? cl_image_path(cosplay.images.first.key) : image_path("logo.png") %> )">
                <div class="d-flex flex-column w-100 info-text">
                  <h3 style="text-align: center"> <%= cosplay.name %> </h3>
                  <div class="d-flex justify-content-between pl-4 pr-4">
                    <p style="max-width: 45%"> <%= cosplay.source_material %> </p>
                    <p> ¥<%= cosplay.price %>/day </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="last-card"></div>
        <div class="last-card"></div>
        <div class="last-card"></div>
      <% else %>
        <em>Sorry, no cosplays found!</em>
      <% end %>
    </div>
  </div>
  <div class="pag-bar mt-5 pt-5 d-flex">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
</div>
