<div class="container">
  <div class="form-container">
    <h1>Add a Cosplay</h1>
    <%= simple_form_for(@cosplay) do |f| %>
      <%= f.input :name %>
      <%= f.input :source_material %>
      <%= f.input :price %>
      <%= f.input :size, as: :select, collection: Cosplay::SIZE %>
      <%= f.input :images, input_html: { multiple: true }, as: :file %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
