<div class="container mt-3">
  <div class="cosplay-show-card">
    <h1 class="title"><%= @cosplay.name %></h1>
    <div class="carousel-container my-3">
      <div id="pictureCarousel" class="carousel slide">
        <div class="carousel-inner">
          <%= render "cosplays/images", cosplay: @cosplay %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#pictureCarousel" data-bs-slide="prev">
          <div class="prev-next-button">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </div>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#pictureCarousel" data-bs-slide="next">
          <div class="prev-next-button">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </div>
        </button>
      </div>
    </div>
    <div class="cosplay-info-and-booking-form">
      <div class="cosplay-info d-flex flex-column">
        <p>Source: <%= @cosplay.source_material %></p>
        <p><%= @cosplay.price %> ¥ / Per day</p>
        <p>Size: <%= @cosplay.size %></p>
    <%= render 'bookings/form' %>
      </div>

    </div>
  </div>

</div>
